		body {
 		background: url("../img/galaxy.jpg");
  		background-position: center;
  		background-repeat: no-repeat;
  		width: 100%;
  		height: 100vh;
		}

		@media (min-width: 481px) { }

		img{
			height: 200px;
  			width: 200px;
  			margin-top:250px;
  			margin-bottom: 20px;
		}
		.input{
		    margin: auto;
		    float: none;
		}
		.placeholder-align{
			text-align:center; 
		}
		.inputB{
			margin-top: 10px !important;
		}
