img{
height: 200px;
width: 200px;
margin-top:250px;
margin-bottom: 20px;
}

.placeholder-align{
text-align:center; 
}

.inputB{
margin-top: 10px !important;
}

html { 
background: url("../img/galaxy.jpg") center center; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
height: 100vh;
}
body { 
background-color: transparent !important;
}

input{
width: 40% !important;
margin: auto !important;
}


@media only screen and (max-width: 600px) {
html {
background: url("../img/galaxy_mobile.jpg")!important;
}
input{
width: 60%!important;
height:150% !important;	
}
}
