img{
	height: 200px;
	width: 200px;
}

.box-acesso .row {
	margin-top: 15px;
}

.box-acesso {
	height: 300px;
	margin-top:250px;
}

.placeholder-align{
	text-align:center; 
}

.inputB{
	margin-top: 10px !important;
}

html {
	background: url(../img/galaxy.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
	overflow: hidden;
}

body { 
	background-color: transparent !important;
}


@media (max-width: 600px) {
	html {
		background-image: url(../img/galaxy_mobile.jpg);
	}
	.box-acesso {
		margin-top:100px;
	}
}
